@using StartSportStore.Infrastructure
@model Product

<div class="card card-outline-primary m-1 p-1">
    <div class="card">
        <h4>
            @Model.Name - @Model.Category</h4>
            <span class="badge badge-primary" style="float:right;background-color:white; color:black;">
                <small>@Model.Price.ToString("c")</small>
            </span>
      
    </div>
    
    <form id="@Model.ProductID" asp-controller="Product" asp-action="List" method="post">
        <input type="hidden" asp-for="@Model.ProductID" />
        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
        <span class="card p p-1">@Model.Description<button class="btn btn-danger" type="submit" style="float:right">Add to Cart</button></span>
    </form>
</div>
